body {
    background-color: rgb(60, 48, 71);
    color:rgb(219, 216, 216);

    font-family: "Comic Sans MS", sans-serif;
}

h1 {
    color: rgb(80, 192, 181);
    text-align: center;
}

h2{
    color: rgb(108, 173, 199);
}

b, strong, em {
    color: white;
}

img {
    width: 300px;
}

h1, h2 {
    font-family: "Helvetica", sans-serif;
}